.recommendations-container {
    padding: 20px;
    text-align: center;
    background-color: #141414; /* Dark background */
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie-item {
    margin: 15px;
    width: 200px; 
    text-align: left; 
}

.movie-poster {
    width: 100%; 
    border-radius: 8px; 
}

h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #ffffff; /* White text */
}

p {
    font-size: 14px;
    color: #b3b3b3; /* Light gray for overview */
}
