.movie-card {
    background-color: #2c2c2c; /* Darker Card Background */
    border: 2px solid #e50914; /* Netflix red border */
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0; 
}

.movie-card h3 {
    font-size: 1.2em;
    color: #ffffff; /* White text */
    margin: 10px 0;
}

.movie-card p {
    font-size: 0.9em;
    color: #b3b3b3; /* Light gray for description */
    padding: 0 10px;
}

.movie-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

/* Trailer modal overlay styling */
/* src/components/MovieCard.css */

/* Watch Trailer button styling */
.watch-trailer-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #e50914; /* Netflix red */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.watch-trailer-button:hover {
    background-color: #f40612; /* Slightly darker red on hover */
}

/* MovieCard.css */
.trailer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    align-items: center;   /* Center vertically */
    justify-content: center; /* Center horizontally */
    z-index: 1000;
}

.trailer-content {
    width: 80%; /* Width of the trailer content */
    max-width: 800px; /* Maximum width */
    height: 45vw; /* Maintain aspect ratio */
    max-height: 450px; /* Maximum height */
    background: black;
    border-radius: 8px;
    overflow: hidden;
    position: relative; /* For positioning the close button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better visibility */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001; /* Above the iframe */
}


.error-message {
    color: #e50914; /* Netflix red */
    font-size: 0.9em;
    margin-top: 5px;
}


