<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
        position: relative;
        background: url("https://wallpaperaccess.com/full/8212583.jpg") no-repeat center center fixed;
        background-size: 170%; /* Zoom in the background */
    }

    body::before {
        content: "";
        position: absolute;
        background: url("https://wallpaperaccess.com/full/8212583.jpg");
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: -1;
    }
