<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
        position: relative;
        background: url("https://wallpaperaccess.com/full/8212583.jpg") no-repeat center center fixed;
        background-size: 170%; /* Zoom in the background */
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: -1;
    }

